$white: #fff;
$blue: #22559E;
$light-blue: #0d60e4;
$light-green: #60e451;
$font-color: #555;
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin wrap-background {
	border-radius: 12px;
	background-color: $white;
	box-shadow: 0 0 5px #ccc;
}
@mixin add-btn {
	cursor: pointer;
	color: $white;
	border: none;
	border-radius: 5px;
	background-color: $light-blue;
	&:hover {
		box-shadow: 0 0 8px $light-blue;
	}
}
@mixin nomal-btn {
	span {
		display: inline-block;
		width: 90px;
		height: 30px;
		font-size: 18px;
		line-height: 30px;
		cursor: pointer;
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 3px;
		background-color: $white;
		&:hover {
			color: $white;
            border-color: $light-blue;
			background-color: $light-blue;
			box-shadow: 0 0 8px $light-blue;
		}
	}
}
@mixin check-icon {
	i {
		display: inline-block;
		box-sizing: border-box;
		width: 21px;
		height: 21px;
		border: 1px solid #999;
		border-radius: 50%;
		background-color: #eee;
		&.checked {
			border: .48px solid $light-blue;
		}
	}
}
.show {
	display: block;
}
.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .2);
	.prompt-box {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 384px;
		height: 216px;
		transform: translate(-50%, -50%);
		@include wrap-background();
		header {
			display: flex;
			height: 48px;
			padding: 0 24px;
			font-weight: 700;
			line-height: 48px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
			background-color: #f2f2f2;
			justify-content: space-between;
			a {
				color: #555;
				&:hover {
					color: $blue;
				}
			}
		}
		p {
			padding: 36px 24px 48px 24px;
		}
		footer {
			text-align: center;
			@include nomal-btn;
			span {
				width: 84px;
				margin: 6px;
				&:nth-of-type(1) {
					color: #fff;
					border-color: $light-blue;
					background-color: $blue;
				}
				&:nth-of-type(2) {
					color: $font-color;
					background-color: #fff;
					&:hover {
						border-color: #ccc;
						box-shadow: 0 0 8px #ccc;
					}
				}
			}
		}
	}
}
// public.scss
.container {
	width: 1200px;
	margin: 72px auto;
	color: #555;
}
.qu-wrap {
	box-sizing: border-box;
	padding: 24px;
	@include wrap-background;
}
.qu-wrap > header {
	position: relative;
	height: 60px;
	margin: 0  24px 24px 24px;
	line-height: 60px;
	text-align: center;
	span {
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
        font-weight: 700;
	}
	span:hover {
		color: $blue;
	}
	p, input {
		width: 600px;
		margin: 0 auto;
		font-size: 21px;
		font-weight: 700;
	}
	p:hover {
		background-color: $light-blue;
	}
	input {
		display: none;
		height: 100%;
		text-align: center;
		border: none;
		outline: none;
		background-color: #ccc;
		&.inlineShow {
			display: inline-block;
		}
	}
}
.qu-content {
	padding: 24px;
	border: {
		top: 2px solid #bbb;
		bottom: 2px solid #bbb;
	}
	.qu-item {
		position: relative;
		margin: 12px 0;
		padding: 12px 24px;
        border-radius: 12px;
		&:hover {
			border-color: #fff;
			background-color: #fff;
			box-shadow: 0 0 8px $light-blue;
			.operat-list {
				display: flex;
			}
			div:last-of-type {
				display: none;
			}
			#require-check {
				display: block;
			}
		}
		h3 {
			height: 24px;
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			& > input {
				display: none;
				width: 160px;
				height: 24px;
				font-size: 16px;
				border: none;
				outline: none;
				background-color: #ccc;
			}
		}
		div:last-of-type {
			height: 24px;
		}
		.qu-num {
			display: inline-block;
			width: 30px;
			margin-right: 12px;
		}
		&.nowEditing {
			.qu-topic {
				display: none;
			}
			h3 > input {
				display: inline-block;
			}
		}
		&.optEditing .optionEditing {
			.optionText {
				display: none;
			}
			& > input {
				display: inline-block;
			}
		}
	}
	.options-list > li {
		height: 24px;
		margin: 12px 0 0 48px;
		line-height: 24px;
		&:hover {
			ul {
				display: inline-flex;
				margin-left: 24px;
			}
			li {
				margin-left: 12px;
				font-size: 12px;
                padding: 0 12px;
				cursor: pointer;
                border: 1px solid #ccc;
                border-radius: 8px;
			}
			li:hover {
				color: $blue;
                border: 1px solid $blue;
			}
		}
		& > ul {
			display: none;
		}
		& > input {
			display: none;
			width: 160px;
			height: 24px;
			font-size: 16px;
			border: none;
			outline: none;
			background-color: #ccc;
		}
	}
	textarea {
		margin: 12px 0 0 48px;
		resize: none;
	}
	.operat-list {
		display: none;
		height: 24px;
		justify-content: flex-end;
		li {
			margin-right: 12px;
            padding: 0 12px;
            height: 24px;
            line-height: 24px;
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: 8px;
			&:hover {
				color: $blue;
                border: 1px solid $blue;
			}
		}
	}
}
.add-box {
	border: 1px solid #ccc;
    border-radius: 12px;
	.qu-type, .add-btn {
		@include flex-center;
	}
    .add-btn {
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }
	.qu-type {
		overflow: hidden;
		height: 0;
		transition: height .5s;
		&.expand {
			height: 84px;
		}
		span {
			margin: 0 12px;
			padding: 6px 30px;
            border-radius: 6px;
			cursor: pointer;
			border: 1px solid #ccc;
			background-color: #eee;
			&:hover {
				background-color: #ccc;
			}
		}
	}
	.add-btn {
		padding: 24px 0;
		font-size: 24px;
		cursor: pointer;
		background-color: #eee;
		&:hover {
			background-color: #ccc;
		}
	}
}
.qu-wrap > footer {
	display: flex;
	padding: 24px 96px;
	justify-content: space-between;
	.date-part {
		position: relative;
		input {
			display: inline-block;
			box-sizing: border-box;
			width: 248px;
			margin-left: 30px;
			padding: 12px 24px;
			font-size: 21px;
			cursor: pointer;
			border: 1px solid #ccc;
			outline: none;
		}
	}
	.ctrl-part {
		@include nomal-btn();
		span {
			margin: 0 12px;
			&:nth-of-type(2) {
				color: #fff;
				border-color: $light-blue;
				background-color: $blue;
			}
			&:nth-of-type(1) {
				color: $font-color;
				background-color: #fff;
				&:hover {
					border-color: #ccc;
					box-shadow: 0 0 8px #ccc;
				}
			}
		}
	}
}
#date-picker {
	position: absolute;
	right: 0;
	margin-top: 6px;
}
#require-check {
	position: absolute;
	top: 12px;
	right: 24px;
	display: none;
}
