$white: #fff;
$blue: #22559E;
$light-blue: #0d60e4;
$light-green: #60e451;
$font-color: #555;
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin wrap-background {
	border-radius: 1rem;
	background-color: $white;
	box-shadow: 0 0 5px #ccc;
}
@mixin add-btn {
	cursor: pointer;
	color: $white;
	border: none;
	border-radius: 5px;
	background-color: $light-blue;
	&:hover {
		box-shadow: 0 0 8px $light-blue;
	}
}
@mixin nomal-btn {
	span {
		display: inline-block;
		width: 7.5rem;
		height: 2.5rem;
		font-size: 1.2rem;
		line-height: 2.5rem;
		cursor: pointer;
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 3px;
		background-color: $white;
		&:hover {
			color: $white;
            border-color: $light-blue;
			background-color: $light-blue;
			box-shadow: 0 0 8px $light-blue;
		}
	}
}
@mixin check-icon {
	i {
		display: inline-block;
		box-sizing: border-box;
		width: 1.2rem;
		height: 1.2rem;
		border: 1px solid #999;
		border-radius: 50%;
		background-color: #eee;
		&.checked {
			border: .4rem solid $blue;
		}
	}
}
.show {
	display: block;
}
.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .2);
	.prompt-box {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 32rem;
		height: 18rem;
		transform: translate(-50%, -50%);
		@include wrap-background();
		header {
			display: flex;
			height: 4rem;
			padding: 0 2rem;
			font-weight: 700;
			line-height: 4rem;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
			background-color: #f2f2f2;
			justify-content: space-between;
			a {
				color: #555;
				&:hover {
					color: $blue;
				}
			}
		}
		p {
			padding: 3rem 2rem 4rem 2rem;
		}
		footer {
			text-align: center;
			@include nomal-btn;
			span {
				width: 7rem;
				margin: .5rem;
				&:nth-of-type(1) {
					color: #fff;
					border-color: $light-blue;
					background-color: $blue;
				}
				&:nth-of-type(2) {
					color: $font-color;
					background-color: #fff;
					&:hover {
						border-color: #ccc;
						box-shadow: 0 0 8px #ccc;
					}
				}
			}
		}
	}
}
// public.scss
.container {
	width: 100rem;
	margin: 6rem auto;
	color: #555;
}
.qu-wrap {
	box-sizing: border-box;
	padding: 2rem;
	@include wrap-background;
}
.qu-wrap > header {
	position: relative;
	height: 5rem;
	margin: 0  2rem 2rem 2rem;
	line-height: 5rem;
	text-align: center;
	span {
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}
	span:hover {
		color: $blue;
	}
	p, input {
		width: 50rem;
		margin: 0 auto;
		font-size: 1.8rem;
		font-weight: 700;
	}
	p:hover {
		background-color: $light-blue;
	}
	input {
		display: none;
		height: 100%;
		text-align: center;
		border: none;
		outline: none;
		background-color: #ccc;
		&.inlineShow {
			display: inline-block;
		}
	}
}
.qu-content {
	padding: 2rem;
	border: {
		top: 2px solid #bbb;
		bottom: 2px solid #bbb;
	}
	.qu-item {
		position: relative;
		margin: 1rem 0;
		padding: 1rem 2rem;
        border-radius: 1rem;
		&:hover {
			border-color: #fff;
			background-color: #fff;
			box-shadow: 0 0 8px $light-blue;
			.operat-list {
				display: flex;
			}
			div:last-of-type {
				display: none;
			}
			#require-check {
				display: block;
			}
		}
		h3 {
			height: 2rem;
			font-size: 1.4rem;
			font-weight: 600;
			line-height: 2rem;
			& > input {
				display: none;
				width: 15rem;
				height: 2rem;
				font-size: 1.4rem;
				border: none;
				outline: none;
				background-color: #ccc;
			}
		}
		div:last-of-type {
			height: 2rem;
		}
		.qu-num {
			display: inline-block;
			width: 2.5rem;
			margin-right: 1rem;
		}
		&.nowEditing {
			.qu-topic {
				display: none;
			}
			h3 > input {
				display: inline-block;
			}
		}
		&.optEditing .optionEditing {
			.optionText {
				display: none;
			}
			& > input {
				display: inline-block;
			}
		}
	}
	.options-list > li {
		height: 2rem;
		margin: 1rem 0 0 4rem;
		line-height: 2rem;
		&:hover {
			ul {
				display: inline-flex;
				margin-left: 2rem;
			}
			li {
				margin-left: 1rem;
				font-size: 1.2rem;
				cursor: pointer;
			}
			li:hover {
				color: $blue;
			}
		}
		& > ul {
			display: none;
		}
		& > input {
			display: none;
			width: 15rem;
			height: 2rem;
			font-size: 1.4rem;
			border: none;
			outline: none;
			background-color: #ccc;
		}
	}
	textarea {
		margin: 1rem 0 0 4rem;
		resize: none;
	}
	.operat-list {
		display: none;
		height: 2rem;
		justify-content: flex-end;
		li {
			margin-right: 1rem;
			cursor: pointer;
			&:hover {
				color: $blue;
			}
		}
	}
}
.add-box {
	border: 1px solid #ccc;
	.qu-type, .add-btn {
		@include flex-center;
	}
	.qu-type {
		overflow: hidden;
		height: 0;
		transition: height .5s;
		&.expand {
			height: 7rem;
		}
		span {
			margin: 0 1rem;
			padding: .5rem 1.5rem;
			cursor: pointer;
			border: 1px solid #ccc;
			background-color: #eee;
			&:hover {
				background-color: #ccc;
			}
		}
	}
	.add-btn {
		padding: 2rem 0;
		font-size: 2rem;
		cursor: pointer;
		background-color: #eee;
		&:hover {
			background-color: #ccc;
		}
	}
}
.qu-wrap > footer {
	display: flex;
	padding: 2rem 8rem;
	justify-content: space-between;
	.date-part {
		position: relative;
		input {
			display: inline-block;
			box-sizing: border-box;
			width: 24rem;
			margin-left: 1.5rem;
			padding: 1rem 2rem;
			font-size: 1.2rem;
			cursor: pointer;
			border: 1px solid #ccc;
			outline: none;
		}
	}
	.ctrl-part {
		@include nomal-btn();
		span {
			margin: 0 1rem;
			&:nth-of-type(2) {
				color: #fff;
				border-color: $light-blue;
				background-color: $blue;
			}
			&:nth-of-type(1) {
				color: $font-color;
				background-color: #fff;
				&:hover {
					border-color: #ccc;
					box-shadow: 0 0 8px #ccc;
				}
			}
		}
	}
}
#date-picker {
	position: absolute;
	right: 0;
	margin-top: .5rem;
}
#require-check {
	position: absolute;
	top: 1rem;
	right: 2rem;
	display: none;
}
